body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #F2F2F2;
}

h1 {
  font-size: 36px;
  margin-top: 50px;
}

.container-titulo {
  display: flex;
  justify-content: center;
}

.container-numeros {
  display: flex;
  justify-content: center;
}

#botao-gerar6, #botao-gerar10 {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 50px;
}

#numeros {
  font-size: 24px;
  background-color: white;
  border-radius: 10px;

  p {
    margin: 0;
    padding: 20px;
  }
}

#result-container {
  margin-top: 20px;
  font-size: 24px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

form {
  margin-top: 50px;
  text-align: left;
}

label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  font-size: 18px;
  padding: 10px;
  width: 250px;
  margin-bottom: 20px;
}

button[type="submit"] {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}